<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title><br><br>
    </head>
    <body>
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            </style>
        <table border="1"> 
            <thead>
                <td>Name</td>
                <td>Address</td>
                <td>City</td>
                <td>PinCode</td>
            </thead>

            {% for row in rows %}

            <tr>
                <td> {{row['name']}}</td>
                <td> {{row['addr']}}</td>
                <td> {{row['city']}}</td>
                <td> {{row['pin']}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/"> <h2> Go To Home Page </h2></a>
    </body>
    </html>